
*.png
*.raw
csv_creator.py
csv_creator.py
csv_creator.py
CTSV mc + 4bitPRBS [FALHA]raw.csv
Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
REDUXraw.csv_2
Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
verifica_Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
verifica_Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
Sallen Key mc + 4bitPRBS [FALHA]raw.csv
Main_PAA.py
*.csv
Biquad Highpass Filter mc + 4bitPRBS [FALHA].log
Biquad Highpass Filter mc + 4bitPRBS [FALHA].net
verifica_Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
verifica_Sallen Key mc + 4bitPRBS [FALHA]raw.csv
dead_file/main_verificacao.py
dead_file/Main_workspace.py
IMG.rar
IMG/biquad.rar
IMG/ctsv.rar
IMG/nonlinear.rar
IMG/sallen.rar
Main_PCA.py

IMG/
Projeto Final Texto/Nonlinear dados de entrada 1.pdf
Projeto Final Texto/CTSV_Csv.pdf
Projeto Final Texto/CTSV_Raw.pdf
Projeto Final Texto/métodos/1. Supervised learning — scikit-learn 0.20.pdf
Projeto Final Texto/métodos/1.1. Generalized Linear Models — scikit-learn 0.20.pdf
Projeto Final Texto/métodos/1.10. Decision Trees — scikit-learn 0.20.pdf
Projeto Final Texto/métodos/1.11. Ensemble methods — scikit-learn 0.20 2.pdf
Projeto Final Texto/métodos/1.11. Ensemble methods — scikit-learn 0.20 3.pdf
Projeto Final Texto/métodos/1.11. Ensemble methods — scikit-learn 0.20.pdf
Projeto Final Texto/métodos/1.5. Stochastic Gradient Descent — scikit-learn 0.20.pdf
Projeto Final Texto/métodos/1.6. Nearest Neighbors — scikit-learn 0.20.pdf
Projeto Final Texto/métodos/1.9. Naive Bayes — scikit-learn 0.20.pdf
Projeto Final Texto/métodos/sklearn.linear_model.SGDClassifier — scikit-learn 0.20.pdf
Projeto Final Texto/métodos/sklearn.svm.SVC — scikit-learn 0.20.pdf
CSV.rar
paa.py
