
*.png
*.raw
csv_creator.py
csv_creator.py
csv_creator.py
CTSV mc + 4bitPRBS [FALHA]raw.csv
Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
REDUXraw.csv_2
Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
verifica_Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
verifica_Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
Sallen Key mc + 4bitPRBS [FALHA]raw.csv
Main_PAA.py
*.csv
Biquad Highpass Filter mc + 4bitPRBS [FALHA].log
Biquad Highpass Filter mc + 4bitPRBS [FALHA].net
verifica_Nonlinear Rectfier + 4bit PRBS [FALHA] - 300 - 02sraw.csv
verifica_Sallen Key mc + 4bitPRBS [FALHA]raw.csv
